<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mapa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
   <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/static/markercluster/MarkerCluster.css" />
   <link rel="stylesheet" href="/static/markercluster/MarkerCluster.Default.css" />
   <script src="/static/markercluster/leaflet.markercluster.js"></script>
   <link rel="stylesheet" href="/static/style.css" />
   <script src="/static/map.js"></script>
</head>
<body>
<div class="container-column">
	<div id="mapid">
	</div>
	<button id="show_controls">Zobrazit ovládání</button>
	<div id="controls">
	<div>
	<h2> Vrstvy </h2>
	<div id="layers" >
		<div class="contr-elem">
			<input type="checkbox" id="metro_checkbox" name="metro_checkbox" checked>
			<label for="metro_checkbox">Linky metra</label>
		</div>
		<div class="contr-elem">
			<input type="checkbox" id="vstupy_checkbox" name="vstupy_checkbox" checked>
			<label for="vstupy_checkbox">Vstupy do metra</label>
		</div>
		<div class="contr-elem">
			<input type="checkbox" id="zast_checkbox" name="zast_checkbox">
			<label for="zast_checkbox">Zastávky</label>
		</div>
	</div>
	</div>
	<div>
	<h2>Hledání zastávek</h2>
	<div id="search">
		<!--label for="stop_input">Zadej zastávku</label-->
		<input type="text" id="stop_input" name="stop_input">
		<button id="stop_submit">Vyhledat</button>
	</div>
	</div>
	<div>
	<h2>Hledání ulic</h2>
	<div id="street_search">
		<!--label for="street_input">Zadej ulici</label-->
		<input type="text" id="street_input" name="street_input">
		<button id="street_submit">Vyhledat</button>
	</div>
	</div>
	</div>
</div>

<script>
    var mymap = L.map('mapid');
    mymap.setView([50.08, 14.44], 13);


    var tileLayer = L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 18
        }
    );
    tileLayer.addTo(mymap);

    addTramLines();

     var linesLG = new L.layerGroup();
     linesLG.addTo(mymap);
     var entriesLG = new L.layerGroup();
     entriesLG.addTo(mymap);
     var stopsLG = new L.layerGroup();
     stopsLG.addTo(mymap);

     var searchLG = new L.layerGroup();
     searchLG.addTo(mymap);

     var streetLG = new L.layerGroup();
     streetLG.addTo(mymap);

     var zastCheckbox = document.getElementById("zast_checkbox");
     loadStops(zastCheckbox);
     var entriesCheckbox = document.getElementById("vstupy_checkbox");
     loadEntries(entriesCheckbox);
     var linesCheckbox = document.getElementById("metro_checkbox");
     loadLines(linesCheckbox);
	
     var stopInput = document.getElementById("stop_input");
     var stopSubmit = document.getElementById("stop_submit");

     var streetInput = document.getElementById("street_input");
     var streetSubmit = document.getElementById("street_submit");

     mymap.on('zoomstart',function(e){stopsLG.clearLayers()});
     mymap.on('zoomend', function(e){loadStops(zastCheckbox)});
     mymap.on('movestart', function(e){stopsLG.clearLayers()});
     mymap.on('moveend', function(e){loadStops(zastCheckbox)});

     zastCheckbox.onchange = zastChanged;
     entriesCheckbox.onchange = entriesChanged;
     linesCheckbox.onchange = linesChanged;

     stopInput.oninput = searchStops;
     stopSubmit.onclick = searchStops;

     streetInput.oninput = searchStreets;
     streetSubmit.onclick = searchStreets;

     var showControlsBut = document.getElementById("show_controls");
     showControlsBut.onclick = toggleControls;
     var controlsDiv = document.getElementById("controls");



</script>
</body>
</html>
